.hero{
    background-image: url('https://i.ibb.co/bs0tT0M/herobackground.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:80vh;
}
.hero .search-box{
    padding: 6px 30px;
	margin-left: -35px;
}
.search-btn{
   
    height: 100%;
    padding: 6px 30px;
	margin-left: -35px;
	border-radius: 25px!important;
}
.hero .form-control{
    border-radius: 25px;
    border:none;
    padding-left: 20px;
}

.btn-rounded {
	border-radius: 25px;
}