.food-area nav li{
    color: black!important;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    
}

.food-area nav .active{
    color: rgb(255, 69, 101)!important;
    text-decoration: none;
}

.food-area nav .active::after{
    content: "";
    width: 95%;
    margin: 0 auto;
    height: 5px;
    background-color: rgb(255, 69, 101)!important;
    border: 3px solid rgb(255, 69, 101)!important;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}
.food-area .card{
    border: none;
}
.food-area .card-img-top{
    width: 60%;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

.food-area div a {
    color: rgb(3, 0, 0)!important;
}

.food-area div a:hover{
    text-decoration: none;
}

.food-area .card:hover{
    box-shadow: 0 5px 13px 0px #eae8e87a;
}

.nav-link {
    color: black!important;
}
